<!DOCTYPE html>
<html>
<head>
    <title>My Webpage</title>
</head>
<body>

<h1>My Webpage</h1>


{% assert my_view_variable "DroxyDemo\\ViewModel" %} {% endassert %}
<br/>
{{ a_variable }}
<br/>
{{ lipsum(40) }}
<br/>
DONE
</body>
</html>