<!DOCTYPE html>
<html>
<head>
    <title>My Webpage</title>
</head>
<body>

<h1>My Webpage</h1>

{% assert my_view_variable '\\DroxyDemo\\ViewModel' %}
{% assert my_view_variable "\\DroxyDemo\\PackageA\\ClassA" %}

<br/>
{{ a_variable }}
{{ my_view_variable.getText() }}

<br/>
{{ lipsum(40) }}
<br/>
DONE
</body>
</html>

